* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: #4e8397;
}

.top-menu {
  display: flex;
  gap: 30px;
  justify-content: center;
  width: 700px;
}

input {
  width: 400px;
}

.todo_list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}

.todo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #845ec2;
}

.todo-border-container {
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  padding-right: 50px;
}

#task {
  display: flex;
  justify-content: space-between;
  /* gap: 50px; */
}

/* .bi-trash3-fill:hover {
  color: red;
  font-size: 50px;
} */
